{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
  ],
  "rules": {
    "array-bracket-spacing": [
      "warn",
      "always"
    ],
    "no-useless-escape": "warn",
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "quotes": [
      "warn",
      "double"
    ],
    "semi": [
      "warn",
      "never"
    ],
    "space-in-parens": [
      "error",
      "always"
    ],
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      {
        "accessibility": "explicit",
        "overrides": {
          "constructors": "off"
        }
      }
    ],
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-parameter-properties": [
      "error",
      {
        "allows": [
          "public",
          "public readonly"
        ]
      }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/type-annotation-spacing": "off"
  }
}
