[packages]
ipykernel = "*"
ipython = "*"
jupyter-require = ">=0.4.0"
invectio = "*"
thamos = "*"
thoth-python = "*"

[dev-packages]
flake8 = "*"
twine = "*"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"
