[packages]
ipykernel = "*"
ipython = "*"
jupyter-require = ">=0.4.0"
invectio = "*"
thamos = "*"
thoth-python = "*"
thoth-common = "*"

[dev-packages]
jupyter-packaging = "*"
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"
mypy = "*"
pre-commit = "==2.0.1"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"
